.div {

  background-color: rgb(236, 53, 53);
  height: '50px';
  width: '250px'

}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #41c9f6;
}

/* li {
  float: left;
} */

li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 23px;

  margin-left: 30px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #101010;

}